@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: "Press Start 2P", system-ui;
  background-color: whitesmoke;
  color: whitesmoke;
}

header {
  text-align: center;

  h1 {
    text-transform: uppercase;
    color: black;
    padding: 1em;
  }
}

main {
  margin-top: 20vh;
  .timer-container {
    background-color: lightsalmon;
    margin-left: auto;
    margin-right: auto;

    width: 300px;
    height: 300px;

    border: 2px solid lightgray;
    border-radius: 2cap;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    .timer {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 3px;
    }

    .buttons {
      display: flex;
      justify-content: space-around;

      .btn {
        text-align: center;
        line-height: 50px;
        vertical-align: middle;

        border-radius: 1cap;
        font-size: 0.8em;

        padding: 0.7em;
        cursor: pointer;
      }

      .btn:hover {
        transform: scale(1.1);
        transition: ease 1s;
      }

      .start {
        display: none;
        background-color: lightgreen;
      }

      .stop {
        display: none;
        background-color: rgb(247, 187, 75);
        padding-left: 1.3em;
        padding-right: 1.3em;
      }

      .finish {
        background-color: lightcoral;
      }

      .active {
        display: block;
      }
    }
  }
}
